<?xml version="1.0"?>
<launch>

    <arg name="rviz_file" default='$(find waypoint_navigation_plugin)/../autonomous.rviz'/>

    <node  pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_file)"/>

    <node pkg="tf" type="static_transform_publisher" name="base_to_map" args="0 0 0 0 0 0  base_point map  20"/>

</launch>

